<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap"
        rel="stylesheet">
    <style>
        body{
            background-color:#F5F8FE ;
        }

        .email-paragraph {
            font-size: 22px;
            padding: 0 180px;
        }

        .verify-button {
            height: 50px;
            width: 306px;
        }

        @media only screen and (max-width: 786px) {
            .verify-button {
                height: 40px;
                width: 230px;
            }
        }

        @media only screen and (max-width: 986px) {
            .email-paragraph {
                font-size: 18px;
                padding: 0 30px;
            }
        }
    </style>
    <title>Email</title>
</head>

<body style="font-family: 'Roboto'; margin: 0; padding: 0; background-color:#F5F8FE;">
    <main>
        <div class="main-container" style="max-width: 800px; margin: 0 auto; background: #fff; padding: 30px 50px; border-radius: 20px; border: 1px solid #eee;">
            <div class="template-body">
                <div class="template-content">
                    <div class="mgb-logo" style="margin: 20px 0 80px; text-align:center;">
                        <img src="https://mgb-s3-public-dev-001.s3.eu-west-2.amazonaws.com/mgb.png" width="300px" alt="mgb-logo">
                    </div>