<%- include('partials/header.partial.ejs') -%>
    <p>Hi <%= data.email %>,</p>
    <br/>
    <p>Congratulations!</p>
    <p>I am pleased to invite you to join Mortgage Basket</p>
    <br/>
    <p>To get started, please click the link below and complete the registration process:</p>
    <p>link: 
        <strong><%= data.link %></strong></p>
    <br/>
<%- include('partials/footer.partial.ejs') -%>